* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding:10px 14px;
}

nav a {
    color: white;
}

.social a {
    padding: 10px;
}

.search a {
    padding: 10px;
}
nav a:hover {
    background-color: #f1f1f1;
    color: black;
}

.head {
    width: 100%;
    text-align: center;
    font-family: "Oswald";
    padding: 70px 0px;
}

.head h1 {
    font-size: 50px;
    padding-bottom: 20px;
    font-family: "Oswald";

}

.head h6 {
    font-size: 18px;
    font-family: "Oswald";
}

.black {
    color: white;
    background-color: black;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
}

.heading {
   width: 100%;
   position: relative;
}

.heading img {
    width: 100%;
    height: 100%;
}

.subscribe {
    position: absolute;
    bottom:400px;
    left:60px;
    color: white;
}

.subscribe h2 {
    font-size: 60px;
    font-family: "Oswald";
}

.subscribe h1 {
    font-family: "Oswald";
    font-size: 100px;
}

.subscribe button {
    padding: 15px 20px;
    margin-top: 20px;
    border: none;
    font-size: 22px;
    opacity: 0.6;
}

.subscribe button:hover {
    opacity: 1;
    cursor: pointer;
}

.subscibe-email {
    background-color:white;
    padding: 40px 50px;
    width: 70%;
    display: none;
    position: fixed;
    top:100px;
    opacity: 1;
    left:15%;
}

.subscibe-email h3 {
    font-size: 40px;
    font-family: "Oswald";
    letter-spacing: 5px;
}

.subscibe-email p {
    font-size: 20px;
    margin:15px 0px;
}

.subscibe-email input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border:1px solid gray;
    font-size: 20px;
}

.subscibe-email button {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-size: 20px;
    border: none;
    background-color: rgb(246, 37, 37);
}

.right {
    float: right;
    cursor: pointer;
    margin-top: -75px;
    font-size: 50px;
}

.gray {
    color: gray;
}

.work {
    background-color: #f1f1f1;
    padding:20px;
    width: 100%;
    display: flex;
    padding-top: 100px;
}


.left {
    width: 65%;
}

.left-side {
    width: 100%;
    margin:20px 0px;
    background-color: white;
    padding: 20px;
    text-align: center;
    
}

.left-side img {
    width: 100%;
    margin-bottom: 20px;
}

.left-side h5 {
    margin: 10px 0px 30px;
    font-family: "Oswald";
    font-size: 25px;
    font-weight: 300;
}

.left-side h1 {
    font-family: "Oswald";
    padding: 20px 0px 0px;
}

.left-side p {
    font-size: 18px;
    padding:10px 20px;
    text-align: justify;
}

.like-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-top: 20px;
}

.like-comment button {
    padding: 10px 20px;
    background: none;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.number {
    background-color: white !important;
    color: black !important;
    padding: 5px 15px;
    margin-left: 10px;

}

.reply {
    background-color: black;
    border-radius:7px;
    padding:15px;
    color: white;
}

.underline {
    margin: 60px 0px;
    width: 100%;
    background-color: rgb(223, 220, 220);
    height: 2px;
}


.replies {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-family: "Oswald";
}

.replies img {
float: left;
margin-right: 30px;
 width: 70px;
}

.replies h2 {
    font-family: "Oswald";
}

.replies .gray {
    font-family: "Oswald";
    font-size: 18px;
    padding-left: 20px;
}

.reply:hover {
    background-color: gray;
}

/* right side */


.right {
    width: 35%;
    padding: 0px 20px;
    margin-top: 20px;
    /* background-color: red;     */
}

.name {
    background-color: black;
    color: white;
    width: 100%;
}

.name img {
    width: 100%;
}

.name-text {
    padding: 15px;
}

.name-text h1 {
    font-size: 25px;
    padding-bottom: 20px;
}

.name-text p {
    font-size: 20px;
}


.posts {
    background-color: white;
    width: 100%;
    margin-top:40px;
}

.posts h1 {
    background-color: black;
    color: white;
    padding: 20px;
    font-weight: 300;
    font-size: 22px;
}

.post-content img {
    width: 80px;
    padding: 10px;
}
.post-content {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(211, 208, 208);
    font-size: 17px;
    padding: 10px;
}

.post-content:last-child {
    border-bottom: none;
}
.post-content span {
    padding: 20px;
}

.post-content:hover {
    background-color: #d6d0d0;
    cursor: pointer;
}

.ads {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 20px;
    background-color: white;
}

.ads h1 {
    width: 100%;
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 25px;
}

.your-ad {
    background-color: rgb(223, 217, 217);
    padding: 120px;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.inspire {
    margin-top: 60px;
    background-color: white;
}

.inspire h1 {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
}

.insire-image {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.insire-image img {
    width: 47%;
    padding: 0px;
}

.inspire-container {
    padding: 20px;
}

.follow {
    margin-top: 60px;
    background-color: white;
}

.follow h1 {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
}

.media {
    padding: 20px;
    font-size: 30px;
}

.media a {
    color: black;
}


.media i:hover {
    color: gray;
}

.email {
    margin-top: 60px;
    background-color: white;
}

.email h1 {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
}

.email p {
    font-size: 15px;
    padding: 15px;
}

.email input {
    width: 100%;
    padding: 20px;
}

.email button {
    width: 100%;
    border: none;
    background-color: red;
    color: white;
    padding: 20px;
}

.email-details {
    padding: 20px 20px;
    opacity: 0.8;
}

footer {
   background-color: #616161;
   color: white;
   padding: 60px;
}

footer button {
    background-color: black;
    color: white;
    padding: 20px 30px;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
}

footer button:hover {
    background-color: gray;
    cursor: pointer;
}


@media screen and (max-width:400px) {
    nav {
        display: none;
    }

    
.head {
    padding: 20px 40px;
}

.head h1 {
    font-size: 30px;
}

.head h6 {
    font-size: 14px;
}

 .subscribe {
     bottom:10px;
 }

.subscribe h2 {
    display: none;
}

.subscribe h1 {
    font-size: 50px;
}


.work {
    flex-direction: column;
    padding: 0px 30px;
}

.left {
    width: 100%;
}
 
.left-side p {
    width: 100%;
}


.right {
    width: 100%;
}

.your-ad {
    padding: 100px;
}
    
        .read-comment {
        padding-top: 30px;
    }
    
    .read-comment button {
         font-size:16px;
         padding: 10px;
    }
    
    footer {
        margin-top:40px;   
    }
    .read-comment span {
        font-size: 16px;
    }
}
